In [ ]:
#HDFS
hadoop version
hadoop fs -ls
hadoop fs -df hdfs:/                   #report amnt of space used
hadoop fs -count hdfs:/
hadoop fs -mkdir /user/training/hadoop
hadoop fs -put data/sample.txt /user/training/hadoop
hadoop fs -ls /user/training/hadoop
hadoop fs -put data/retail /user/training/hadoop
hadoop fs -du -s -h hadoop/retail       #display spcae occupied
hadoop fs -rm hadoop/retail/customers
hadoop fs -rm hadoop/retail/*           #delete all files
hadoop fs -expunge                      #empty trash
hadoop fs -rm -r hadoop/retail          #remove retail dir n its files
hadoop fs -copyFromLocal /home/training/purchase.txt hadoop/
hadoop fs -cat hadoop/purchase.txt
hadoop fs -copyToLocal hadoop/purchase.txt /home/training/data
hadoop fs -get hadoop/sample.txt /home/training/
hadoop fs -cp /user/training/*.txt /user/training/hadoop
hadoop fs -tail hadoop/purchase.txt       #display last kilobyte
hadoop fs -mv hadoop apache_hadoop
hadoop fs -setrep -w 2 apache_hadoop/sample.txt    #set repli factor =2 instead of default 3
hadoop fs -distcp hdfs://namenodeA/apache_hadoop hdfs://namenodeB/hadoop
hadoop fs
hadoop fs -help
hadoop fs -expunge
sudo -u hdfs hdfs dfsadmin -safemode leave

sudo -u hdfs hadoop fs -chmod 600 hadoop/purchase.txt
sudo -u hdfs hadoop fs -chown root:root hadoop/purchase.txt
sudo -u hdfs hadoop fs -chgrp training hadoop/purchase.txt

hadoop fsck - /
hadoop balancer

In [ ]:
#Mongo DB

mongod
mongosh
show dbs
use hello
db.getName()
show collections
db.hi.insert({name:"sid",age:21})
db.hi.find()
db.hi.remove({name:"abc"})
db.hi.count()
db.hi.update({name:"xyz"},{$set:{age:21}})
db.hi.find({$where:"this.age>19})
db.hi.findOne()
db.hi.find({age:21},{name:false})
dh.hi.find({age:{$lt:21}})
db.hi.find({age:21})
db.hi.drop()
db.dropDatabase()

In [ ]:
#squoop

mysql -u root -p

create database bank;
show databases;
use bank;
create table emp(acc varchar(10),name varchar(20), 
age varchar(5))

describe emp;
insert into emp values ("1","sid","21");
select * from emp;
exit


sqoop import --connect jdbc:mysql://localhost:3306/bank 
--username root --password cloudera --table emp 
--target-dir=/home/cloudera/myfirstdata -m 1

hadoop fs -ls /home/cloudera/myfirstdata

hadoop fs -cat /home/cloudera/myfirstdata/part-m-00000

sqoop export --connect jdbc:mysql://localhost/bank
--username root --password cloudera --table empcopy
--export-dir /home/cloudera/myfirstdata


#verify
mysql -u root -p
use bank
select * from empcopy

In [ ]:
#Hive

echo -e "1,abc,20000 \n 2,pqr,45000">home/training/demo.txt 
hive
show databases;
show tables;
use dbname;
create database bank;
use bank;
create table emp(id INT, name STRING, sal DOUBLE) 
row foramt delimited 
fields terminated by ',' stored as textfile;

describe emp;

load data local inpath'/home/cloudera/demo.txt' into table emp;
select * from emp;

alter table emp rename to emp_sal;

select * from emp_sal where id=12;
select count(*) from emp_sal;
select avg(sal) as avg_sal from emp_sal;
select max(sal) as max_sal from emp_sal;
drop table emp_sal;
exit;

In [ ]:
#Hbase

hbase shell
create 'emp','acc','name','age'
list
diable 'emp'
is_disabled 'emp'

enable 'emp'
describe 'emp'
alter 'emp', name =>'firstname',version=>5
exists 'emp'
drop 'emp'
put 'emp','1','personal data: age','21'
put 'emp', '1','personal data: name','siddi'
put 'emp', '1','personal data: acc','1011'

scan 'emp'
get 'emp','1'
delete 'emp','1','personal data: age',166153456

count 'emp'
truncate 'emp'

In [ ]:
#pig

pig
fs -ls
copyFromLocal /home/training/sample.txt /user/training
cat sample.txt

student=load '/user/training/student.txt' USING PigStorage(',') as (rollno:int,name:chararray,perc:float);
dump student;

studentname=foreach student generate name; #projection
dump studentname;

dept=load '/user/training/dept.txt' USING PigStorage(',') as (id:int, name:chararray,sal:int)
dump dept;
x=cross student, dept;
dump x;

A=load '/user/training/a.txt' USING PigStorage(',') as (a1:int,a2:int)
z=distinct A;
dumb z;

y=filter A by a2==2
dump y;

x=foreach dept generate id,name
dump x;

c=cogroup A by a1 inner, B by b1 inner;
dump c;

A = load '/user/training/dumA.txt' USING PigStorage(',') as
(a1:int,a2:int,a3:int,a4:int);
Dump A;
B = load '/user/training/dumB.txt' USING PigStorage(',') as (b1:int, b2:int);
dump B;
C = COGROUP A By a1 inner, B BY b1 Inner;
Dump C;
Z=FOREACH C GENERATE group, B.b2;
dump Z;
Z = FOREACH C GENERATE group,A.(a1,a2);
dump Z;

In [ ]:
#FM Algo

nums = list(map(int, input("Enter numbers separated by space: ").split()))

def h1(x): return (6 * x + 1) % 5

def trailing_zeros(n):
    b = bin(n)[2:]                  
    return len(b) - len(b.rstrip('0'))  

hashed = [h1(x) for x in nums]

R = max([trailing_zeros(h) for h in hashed]) if hashed else 0

r = 2 ** R

print("Hashed values:", hashed)
print("Estimated number of distinct elements:", r)

In [ ]:
#Bloom

size = 10
bloom = [0] * size

def h1(x):return (3 * x + 7) % size

def h2(x):return (5 * x + 11) % size

while True:
    ch = input("\n1.Insert  2.Query  3.Show  4.Exit : ")

    if ch == "1":
        x = int(input("Enter number: "))
        bloom[h1(x)] = 1
        bloom[h2(x)] = 1
        print("Inserted!")

    elif ch == "2":
        x = int(input("Enter number: "))
        if bloom[h1(x)] and bloom[h2(x)]:
            print(f"{x}  May be present  ")
        else:
            print(f"{x} Definitely not present ")

    elif ch == "3":
        print("Bits:", bloom)

    elif ch == "4":
        break

    else:
        print("Invalid choice!")

In [ ]:
#R
#1
employees <- data.frame(
  Emp_ID = c(101, 102, 103, 104, 105),
  Name = c("Vivek", "Karan", "Renu", "Soham", "Mary"),
  Age = c(28, 32, 25, 30, 27),
  Department = c("HR", "IT", "Finance", "Marketing", "Sales"),
  Salary = c(45000, 55000, 40000, 48000, 50000)
)

print("Employee Details:")
print(employees)

print("Summary of Employee Data:")
print(summary(employees))  

#2
data <- data.frame(
  Employee = c("A", "B", "C", "D", "E", "F"),
  Age = c(25, 30, 28, 35, 40, 32),
  Salary = c(30000, 45000, 40000, 60000, 75000, 50000),
  Experience = c(1, 3, 2, 6, 8, 4)
)


print("Sample Dataset:")
print(data)


# 1. Scatter Plot (Age vs Salary)
plot(data$Age, data$Salary,
     main = "Scatter Plot: Age vs Salary",
     xlab = "Age",
     ylab = "Salary",
     col = "blue",
     pch = 19)


# 2. Bubble Chart (Age vs Salary with Experience as bubble size)
symbols(data$Age, data$Salary, circles = data$Experience,
        inches = 0.2, bg = "skyblue",
        main = "Bubble Chart: Age vs Salary (Bubble = Experience)",
        xlab = "Age", ylab = "Salary")


# 3. Bar Chart (Salary by Employee)
barplot(data$Salary,
        names.arg = data$Employee,
        col = "lightgreen",
        main = "Bar Chart: Salary by Employee",
        xlab = "Employee", ylab = "Salary")


# 4. Dot Chart
dotchart(data$Salary,
         labels = data$Employee,
         main = "Dot Plot: Employee Salaries",
         xlab = "Salary", col = "darkblue")


# 5. Histogram (Distribution of Salary)
hist(data$Salary,
     col = "orange",
     main = "Histogram: Salary Distribution",
     xlab = "Salary", ylab = "Frequency")


# 6. Box Plot (Salary Spread)
boxplot(data$Salary,
        col = "violet",
        main = "Box Plot: Salary",
        ylab = "Salary")


# 7. Pie Chart (Salary Share by Employee)
pie(data$Salary,
    labels = data$Employee,
    col = rainbow(6),
    main = "Pie Chart: Salary Share by Employee")

#3
values <- c(23, 45, 10, 34, 89, 20, 67, 99)

asc_values <- sort(values)
desc_values <- sort(values, decreasing = TRUE)
print("Ascending Order:")
print(asc_values)
print("Descending Order:")
print(desc_values)

# Plot ascending order
barplot(asc_values,
        main = "Ascending Order",
        col = "lightblue",
        ylab = "Values")

# Plot descending order
barplot(desc_values,
        main = "Descending Order",
        col = "lightgreen",
        ylab = "Values")

#4
bread <- c(12, 3, 5, 11, 9)
milk <- c(21, 27, 18, 20, 15)
cola <- c(10, 1, 33, 6, 12)
chocolate <- c(6, 7, 4, 13, 12)
detergent <- c(5, 8, 12, 20, 23)
days <- c("Monday", "Tuesday", "Wednesday", "Thursday", "Friday")


# Combine into a data frame
sales_data <- data.frame(days, bread, milk, cola, chocolate, detergent)
print(sales_data)


# Plot the data
barplot(as.matrix(sales_data[, -1]),
        beside = TRUE,
        names.arg = days,
        col = rainbow(5),
        main = "Product Sales from Monday to Friday",
        ylab = "Units Sold")


legend("topright",
       legend = c("Bread", "Milk", "Cola Cans", "Chocolate Bars", "Detergent"),
       fill = rainbow(5))

#pie chart
total_sales <- c(sum(bread), sum(milk), sum(cola), sum(chocolate), sum(detergent))
pie(total_sales,
    labels = c("Bread", "Milk", "Cola", "Chocolate", "Detergent"),
    col = rainbow(5),
    main = "Percentage of Total Sales by Product")

cat("\nSummary Statistics:\n")
cat("Bread - Mean:", mean(bread), "SD:", sd(bread), "\n")
cat("Milk - Mean:", mean(milk), "SD:", sd(milk), "\n")
cat("Cola Cans - Mean:", mean(cola), "SD:", sd(cola), "\n")
cat("Chocolate Bars - Mean:", mean(chocolate), "SD:", sd(chocolate), "\n")
cat("Detergent - Mean:", mean(detergent), "SD:", sd(detergent), "\n")

#5

data <- data.frame(
  Subject = c(1, 2, 3, 4, 5, 6),
  Class = c(1, 2, 1, 2, 1, 2),
  Marks = c(56, 75, 48, 69, 84, 53)
)
print("Original Data Frame:")
print(data)

# (i) Create subset of Subject less than 4 using subset() function

subset1 <- subset(data, Subject < 4)
print("Subjects less than 4:")
print(subset1)

# (ii) Create subset where Subject < 3 and Class == 2 using []
subset2 <- data[data$Subject < 3 & data$Class == 2, ]
print(" Subject < 3 and Class == 2:")
print(subset2)


# (iii) Visualize the data
barplot(data$Marks,
        names.arg = data$Subject,
        col = "skyblue",
        main = "Marks of Subjects",
        xlab = "Subject",
        ylab = "Marks")

#6
employees <- data.frame(
  Sr_No = 1:10,
  Name = c("Vivek", "Karan", "James", "Soham", "Renu",
           "Farah", "Hetal", "Mary", "Ganesh", "Krish"),
  Salary = c(21000, 55000, 67000, 50000, 54000,
             40000, 30000, 70000, 20000, 15000)
)
print("Original Employee Data:")
print(employees)


# Add 5 new employees using rbind()
new_employees <- data.frame(
  Sr_No = 11:15,
  Name = c("Ravi", "Neha", "Arjun", "Divya", "Manish"),
  Salary = c(25000, 48000, 60000, 52000, 31000)
)


# Combine both datasets
all_employees <- rbind(employees, new_employees)


print("Updated Employee Data (after adding new employees):")
print(all_employees)


# Visualize the data using a bar chart
barplot(all_employees$Salary,
        names.arg = all_employees$Name,
        col = "lightblue",
        main = "Employee Salaries",
        xlab = "Employee Name",
        ylab = "Salary",
        las = 2)  # rotate names for clarity

#7

data <- read.csv("path/file.csv")

#8
data(iris)


# Basic Information
print("Structure of the dataset:\n")
str(iris)


cat("\nSummary statistics:\n")
print(summary(iris))


# Check for missing values
cat("\nMissing values in each column:\n")
colSums(is.na(iris))


# Basic Descriptive Statistics
cat("\nMean values by Species:\n")
print(aggregate(. ~ Species, data = iris, FUN = mean))


cat("\nStandard deviation by Species:\n")
print(aggregate(. ~ Species, data = iris, FUN = sd))

# ---  Scatter Plot: Sepal Length vs Sepal Width ---

plot(iris$Petal.Length, iris$Petal.Width,
    pch = 19,
    main = "Petal Length vs Petal Width",
    xlab = "Petal Length",
    ylab = "Petal Width",
    col = c("lightgreen", "lightblue", "lightpink")
    )


# ---  Histogram: Petal Length Distribution ---
hist(iris$Petal.Length,
     main = "Histogram: Petal Length Distribution",
     xlab = "Petal Length",
     col = "lightblue",
     border = "black")

species_counts <- table(iris$Species)
pie(species_counts,
    main = "Pie Chart: Species Distribution",
    col = c("orange", "cyan", "lightpink"),
    labels = paste(names(species_counts),
                   round(prop.table(species_counts)*100), "%"))